LLM_MODEL=groq/openai/gpt-oss-120b
EMBEDDING_MODEL=hiiamsid/sentence_similarity_spanish_es
RERANKER_MODEL=cross-encoder/mmarco-mMiniLMv2-L12-H384-v1
VECTOR_DB_PATH=<Path to vector db, e.g. data/chromadb/restmex_sss_cs200_ov50>

# API KEYS
GEMINI_API_KEY=...
GROQ_API_KEY=...